html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-corner {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 999rem;
  background-color: rgba(49, 52, 56, 0.12);
}
